.card {
  width: 18rem;
  min-height: 250px;
  color: #000;
}
.red {
  color: red;
  cursor: pointer;
}
.green {
  color: green;
  cursor: pointer;

}
.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

